<!-- <h1>Welcome to Sumimasen!</h1> -->


<!-- <div class="banner">test</div> -->
<!-- <%= link_to 'My Blog', articles_path %> -->


<div class="content-home">
  <section>
    <!--  ROW 1  -------------------------------->
    <!--  has four articles  -->
    <div class="row1">
      <article class="vw-20"> een
        <!-- <img src=""> -->
      </article>
      <article class="vw-40 blue">twee</article>
      <article class="vw-20">drie
        <!-- <img src=""> -->
      </article>
      <article class="vw-20">vier
        <!-- <img src=""> -->
      </article>
    </div>
    <!--  ROW 2  -------------------------------->
    <div class="row2 ">

      <!-- LEFT COLUMN (row 2)-->
      <div class="row2-col1 vw-60">

        <!-- top subrow of left column: (total: 3 aticles) -->
        <div class= "row2-col1-subrow1">

          <!-- Subcolumn 2: has one article -->
          <div class="row2-col1-subrow1-subcol1 vw-40">
            <article class="h-vw-40">1
              <!-- <img class="img-pct-40"src=""> -->
            </aricle>
          </div>

          <!-- Subcolumn 2: has two articles -->
          <div class="row2-col1-subrow1-subcol2 vw-20">
            <article class="h-vw-20">2
              <!-- <img src=""> -->
            </article>
            <article class="h-vw-20">3
              <!-- <img src=""> -->
            </article>
          </div>
        </div>

        <!-- bottom subrow of left column: (total: 2 articles) -->
        <div class= "row2-col1-subrow2">
            <article class="vw-20">xxx4
              <!-- <img src=""> -->
          </article>
            <article class="vw-40 blue">xxx5</article>
        </div>
      </div>

      <!-- RIGHT COLUMN (row 2): has two articles-->
      <div class="row2-col2 vw-40">
        <article class="h-pct-20 red"><p>6</p></article>
        <article class="h-pct-80 top-right">7</article>
      </div>
    </div>

    <!--  ROW 3  -------------------------------->
    <!--  has five articles  -->

    <div class="row3">
      <article class="vw-20">
        <!-- <img src=""> -->
      </article>
      <article class="vw-20">
        <!-- <img src="" > -->
      </article>
      <article class="vw-20">
        <!-- <img src=""> -->
      </article>
      <article class="vw-20">
        <!-- <img src=""> -->
      </article>
      <article class="vw-20">
        <!-- <img src=""> -->
      </article>
    </div>
  </section>
</div>
