@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #57C7A2;
$navbar-height: 80px;
$hover-color: #FC5253;



// * * * NAVBAR * * * //

.navbar {
    height: $navbar-height;
    margin: 0;
    padding: 0;
}

// links color nav homepage bottom
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
  color: white;
  padding-top: 30px;
}

// links color nav fixed-bar
.fixed-bar .navbar-nav > li > a, .fixed-bar .navbar-brand{
  color: black;
  padding-top: 30px;
}

// hover color nav
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: #FC5253;
    background-color: transparent;
}

// styling navbar
.navbar, .navbar-default {
  color: black;
  font-size: 17px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: 'Interstate',sans-serif;
  margin-bottom: 0px;
  background: rgba(0,0,0,.0);
  // background: rgba(0,0,0,.4);
  border-color: transparent;
  border-radius: 0px;
}

// styling fixed navbar
.fixed-bar{
  width: 100%;
  background: rgba(255,255,255,.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.wrapper{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo{
  margin: auto;
  width: 70%;
  height: 90%;
  background-color: grey;
  background: url('http://res.cloudinary.com/ddpouudhk/image/upload/v1484908037/Sumimasen-script-white_xlxedq.png') no-repeat center center;
  background-size: 100%;
  z-index: 100;
}

.dark-filter{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}



// * * * MAIN INTRO IMAGE * * * //

.main-intro{
  width: 100%;
  height:100vh;
  position: relative;
  background: url('http://res.cloudinary.com/ddpouudhk/image/upload/v1484861589/josjebuiten-zwartwit_n8h7fi.jpg') no-repeat center right fixed;
  background-size: cover;
  margin: 0 auto;
  background-color: green;
}



// * * * CONTENT * * * //

.content{
  width: 100%;
  height: 1500px;
  background-color: $primary-color;

}
