@import "bootstrap-sprockets";
@import "bootstrap";


// * * * NAVBAR * * * //

// links color nav
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
  color: white;
}

// links color nav fixed-bar
.fixed-bar .navbar-nav > li > a, .fixed-bar .navbar-brand{
  color: black;
}

// hover color nav
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: #FC5253;
    background-color: transparent;
}

// styling navbar
.navbar, .navbar-default {
  color: black;
  font-size: 16px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: 'Interstate',sans-serif;
  margin-bottom: 0px;
  background: rgba(0,0,0,.4);
  border-color: transparent;
  border-radius: 0px;
}

// styling fixed navbar
.fixed-bar{
  width: 100%;
  background: rgba(255,255,255,.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.xxx{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


// * * * MAIN INTRO IMAGE * * * //

.main-intro{
  width: 100%;
  height:100vh;
  position: relative;
  background: image-url('josjebuiten-zwartwit.jpg') no-repeat center right fixed;
  background-size: cover;
  margin: 0 auto;
  background-color: grey;
}

// * * * CONTENT * * * //

.content{
  width: 100%;
  height: 1500px;
  background-color: pink;

}
