@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


$navbar-height: 80px;
// $homepage-color: #90C5A9;
// $homepage-color: #DDE0CD;
// $homepage-color: #3BB0AA;
// $homepage-color: #5AC79E;
// $homepage-color: #A1D6F5; heckblue
$homepage-color: #F3D500;
// $homepage-color: white;

// $primary-color: #57C7A2; // strong sea green
// $hover-color: #FC5253; // heck house red

// $primary-color: #EBE3E0; // pink !
// $hover-color: #FC5253; // heckred !

// $primary-color: #90C5A9; // light sea green
// $hover-color: #9C6A8D; // purple

// $primary-color: #EBE3E0; //pink
// $hover-color: #EF6D3B; //oranje

// $primary-color: #EBE3E0; // pink
// $hover-color: #F9A636; // orange

// $primary-color: #EBE3E0; // pink
// $hover-color: #DDE0CD; // greenish

// $primary-color: #EBE3E0; // pink
// $hover-color: #53AC57; //  green

// $primary-color: #F3D500; // oker
// $hover-color: #FC5253; // heckred

$primary-color: #EBE3E0; // pink
$hover-color: #F3D500; // oker
$primary-color: #EBE3E0; // pink
$hover-color: #F3D500; // oker




// * * * NAVBAR * * * //

.navbar {
    height: $navbar-height;
    margin: 0;
    padding: 0;
}

// links color nav homepage bottom
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
  color: white;
  padding-top: 30px;
}

// links color nav fixed-bar
.fixed-bar .navbar-nav > li > a, .fixed-bar .navbar-brand{
  color: black;
  padding-top: 30px;
  padding-bottom: 29px;
}

// hover color nav
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: $hover-color;
    background-color: transparent;
}

// navbar active tab
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $hover-color;
  background-color: transparent;
  // background-color: #e7e7e7;

}

// general styling navbar
.navbar, .navbar-default {
  color: black;
  font-size: 17px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: 'Interstate',sans-serif;
  margin-bottom: 0px;
  background: rgba(0,0,0,.0);
  // background: rgba(0,0,0,.4);
  border-color: transparent;
  border-radius: 0px;
}

// styling fixed navbar
.fixed-bar{
  width: 100%;
  background: rgba(255,255,255,.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.wrapper{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

// optional logo
// .logo{
//   margin: auto;
//   width: 70%;
//   height: 90%;
//   background-color: grey;
//   background: url('http://res.cloudinary.com/ddpouudhk/image/upload/v1484908037/Sumimasen-script-white_xlxedq.png') no-repeat center center;
//   background-size: 100%;
//   z-index: 100;
// }

// transparent layer, dark
.dark-filter{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}


// * * * CONTENT * * * //

.content-home{
  width: 100%;
  height: 1500px;
  background-color: $homepage-color;
}

.content{
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color;
  padding: 80px;
  padding-top: $navbar-height + 80px;
}



.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  // padding-top: $navbar-height + 80px;
  // background-color: $primary-color;

}
