// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .banner{
//   background-color: green;
//   width: auto;
//   height: 500px;
// }

// * * * MAIN INTRO IMAGE * * * //

.main-intro{
  width: 100%;
  height:99.5vh;
  position: relative;
  background: url('http://res.cloudinary.com/ddpouudhk/image/upload/v1484861589/josjebuiten-zwartwit_n8h7fi.jpg') no-repeat center right fixed;
  background-size: cover;
  margin: 0 auto;
  background-color: green;
}


// WELCOME Mozaik //

article {
  // width: 100%;
  background-color: grey;
  border: 1px black solid !important;
}

.row1, .row2, .row3, .row2-col1-subrow1, .row2-col1-subrow2, article {
  display: flex;
}

.row1, .row2-col1-subrow2, .row3, {
  height: 20vw;
}

/* width classes in percentages */
// vw
.vw-20 {
  width: 20vw;
}

.vw-40 {
  width: 40vw;
}

.vw-60 {
  width: 60vw;
}


/* Height Classes */
// vw
.h-vw-20 {
  height: 20vw;
}

.h-pct-30 {
  height: 30%;
}

.h-vw-40 {
  height: 40vw;
}

// percent
.h-pct-20 {
  height: 20%;
}

.h-pct-80 {
  height: 80%;
}


// color classes
.blue {
  background-color: #A1D7F5;
}

.blue:hover {
    background-color: #FA534E;
}

.red {
  background-color: #FA534E;
}

// TODO

@media screen and (max-width:720px) {
  // .template-front-page .row-1 .blog-snippet,
  // .template-front-page .row-1 .work-snippet {
  //   width: 50%;
  // }

  .row1, .row2, .row2-col1-subrow2, .row3{
    flex-wrap: wrap;
    height: auto;
  }

  .row1 article:nth-child(1),
  .row1 article:nth-child(2) {
    width: 100%;
    height: 100vw;
  }

  .row1 article:nth-child(3),
  .row1 article:nth-child(4) {
    width: 50%;
    height: 50vw;
  }

  // row two

  .row2-col1,
  .row2-col2 {
    width: 100%;
  }


  .row2-col1-subrow1-subcol1,
  .row2-col1-subrow1-subcol1 article {
    width: 66.65vw;
    height: 66.65vw;
  }

  .row2-col1-subrow1-subcol2 {
    width: 33.33vw;
  }
  .row2-col1-subrow1-subcol2 article {
    width:100%;
    height: 50%;
  }

  .row2-col1-subrow2 article {
    width: 100vw;
    height: 100vw;
  }

  .row2-col1-subrow2 article:nth-child(2){
    height: 50vw;
  }

  .row2-col2 article:nth-child(1){
    height: 30vw;
  }

  .row2-col2 article:nth-child(2){
    height: 100vw;
  }

  // row 3

  .row3 article:nth-child(1),
  .row3 article:nth-child(2),
  .row3 article:nth-child(3),
  .row3 article:nth-child(4){
    width: 50%;
    height: 50vw;
  }

  .row3 article:nth-child(5){
    width: 100%;
    height: 100vw;
  }

  div img {
    height: 100%;
    width: 100%;
  }

}
